<nav>
    <div class="header">
      <a routerLink="/home" class="flex items-center">
        <img src="assets/logow.png" class="h-8 mr-3" alt="E-Food Logo">
        <span class="self-center text-2xl font-semibold whitespace-nowrap">E-FOOD</span>
      </a>
      <div #navbar_sticky class="items-center mr-20 justify-between hidden w-full md:flex md:w-auto md:order-1 ml-auto">
        <ul class="nav-list md:items-center">
          <li>
            <a [routerLink]="'/home/explore'" routerLinkActive="nav-item-selected" class="nav-item"
              [routerLinkActiveOptions]="{ exact: true }" ariaCurrentWhenActive="page">Explorar</a>
          </li>
          <!-- <li>
            <a [routerLink]="'/home/orders'" class="nav-item" routerLinkActive="nav-item-selected"
              class="nav-item" ariaCurrentWhenActive="page">Órdenes</a>
          </li> -->
          <li>
            <a [routerLink]="'/home/shoplist'" class="nav-item" routerLinkActive="nav-item-selected"
              class="nav-item" ariaCurrentWhenActive="page">Mi carrito</a>
          </li>
          <!-- <li>
            <a [routerLink]="'/home/users'" routerLinkActive="nav-item-selected" class="nav-item"
              ariaCurrentWhenActive="page">Usuarios</a>
          </li> -->
          <li>
            <a [routerLink]="'/home/help'" routerLinkActive="nav-item-selected" class="nav-item"
              ariaCurrentWhenActive="page">Ayuda</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>